<ion-content>
  <ion-header collapse="condense">
  <ion-toolbar>
    <ion-title>Dispositivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item *ngFor="let dispositivo of dispositivos">
    <ion-label>
      <h2>{{ dispositivo.nombre }}</h2>
      <p>{{ dispositivo.ubicacion }}</p>
    </ion-label>

    <!-- Botón para mostrar mediciones -->
    <ion-button expand="block" color="tertiary" (click)="verMediciones(dispositivo.dispositivoId)">
      Mostrar Mediciones
    </ion-button>

    <!-- Botón para ver detalles -->
    <ion-button fill="outline" slot="end" (click)="verDetalle(dispositivo.dispositivoId)">
      Ver Detalles
    </ion-button>
  </ion-item>
</ion-list>

</ion-content>

